#book {
	position: absolute;
	z-index: 10;
}
a {
  color: #eee;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.mod {
  clear: both;
}

.coverflow .hproducts {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
}

.coverflow .bd2 {
  -webkit-perspective: 500px;
  margin: 0;
  height: 90%;
  border: none;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.hproducts .hproduct {
  float: left;
  position: relative;
  text-align: center;
  -webkit-transition-property: -webkit-transform;
}

.hproduct img {
  width: 100%;
  border: 1px solid #999;
}

.coverflow .hproduct img {
  -webkit-box-reflect: below 5% -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(rgba(50, 50, 50, 0.7)));
}

.coverflow .fn, .coverflow .pricing {
  display: none;
}

.coverflow .info {
  position: absolute;
  left: 0px;
  z-index: 10000;
  text-align: center;
  width: 100%;
}

.description {
  max-width: 300px;
  padding: 1em;
  float: left;
}

.description h1 {
  font-size: 130%;
  font-weight: bold;
}

.description p {
  margin-left: 1em;
}

nav {
  float: right;
  padding: 1em;
}

.bottom {
  text-align: center;
}

.csstransforms3d .no-webkit {
  display: none;
}

.touch .mobile {
  display: none;
}

.swipe {
  display: none;
}

.touch .swipe {
  display: inline;
}