#options_link{
    background-image:url('../images/iphone/back.png');
    width: 23px;
    height:23px;
    top: 700px;
    left:502px;
    display:block;
    z-index: 12;
    position: absolute;

}

.page_header{
    height:5%;
    margin-bottom: 20px;
    font-size: 200%;
}

/* NAV */
#next{
    margin: 20px;
    width: 70px;
    height:70px;
    background-image: url('../images/high/next.png');
}

#prev{
    margin: 20px;
    width: 70px;
    height:70px;
    background-image: url('../images/high/back.png');
}

#menu > *{
    
}

#play_link{
    width: 50px;
    height:50px;
}

/* END NAV*/
.subs span .txt{
    font-size:28pt;
}

/* STORY LIST */
.coverflow .hproducts {
    height: 350px;
    padding: 30px;
}

.hproducts .hproduct {
    width: 250px;
}

.coverflow .info {
    top: 400px;
    font-size: 300%;
    font-size:30pt;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .hproducts .hproduct {
        height: 400px;
    }
}
.hproducts .hproduct {
    margin: 20px;
}
.mod {
    margin-top:50px;
}
/* STORY LIST END*/

/* HELP*/

body.help{
  background: url('../images/high/help.jpg') 0 0 no-repeat;
}

.subs{
  bottom: 18%;
}
/* HELP END*/