/* NAV */


#next{
    margin: 10px;
    background-image:url('../images/low/next.png');
    width: 35px;
    height:35px;
}

#prev{
    margin: 10px;
    background-image:url('../images/low/back.png');
    width: 35px;
    height:35px;
}

/* END NAV*/

.page_header{
    height:10%;
    margin-bottom: 20px;
    vertical-align: middle;
    font-size: 150%;
}

/*  MENU*/

#menu > *{
  /*padding:0;*/
}

#play_link{
    width: 25px;
    height:25px;
}

/*  END MENU*/

.subs{
  bottom: 13%;
}

.subs span .txt{
    font-size:14pt;
}

/* STORY LIST */
.coverflow .hproducts {
    height: 120px;
    padding: 5px;
}

.hproducts .hproduct {
    width: 120px;
}

.coverflow .info {
    top: 170px;
    font-size: 100%;
    font-size:16pt;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .hproducts .hproduct {
        height: 200px;
    }
}
.hproducts .hproduct {
    margin: 5px;
}
.mod {
    margin-top:20px;
}
/* STORY LIST END*/

/* HELP*/

body.help{
  background: url('../images/low/help.jpg') 0 0 no-repeat;
}

/* HELP END*/

/*Buttons*/

#storybook_menu > .button, #story_menu > .button{
  width: auto;
  height: auto;
}

.button{
  min-width: 113px;
  height: 40px;
  border-radius: 10px;
  line-height: 40px;
  font-size: 28px;
  -webkit-box-shadow: inset 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#menu > a{
  margin: 0 10px;
}

#menu .button{
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  min-width: 80px;
}

/*End Buttons*/