body {
    margin: 0;
    overflow: hidden;
}

* {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#menu_trigger {
    z-index: 20;
    position: absolute;
    left: 37%;
    top: 37%;
    width: 25%;
    height: 25%;
    background-color: red;
    opacity: 0;
}

/* flip */
#book {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-top: 0px;
}

#pages section {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

#pages section>div {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

/* END flip*/

/*  Subs */

.subs {
    position: absolute;
    width: 96%;
    text-align: center;
    margin-left: 2%;
    height: 2%;
    z-index: 111;
    vertical-align: middle;
}

.subs > span {
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
}

.txt {
    display: inline-block;
    font-weight: bold;
    color: brown;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid brown;
}

/* END subs  */

/* NAV */

#nav {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 111;
    position: absolute;
    height: 10%;
}

#next {
    display: block;
    float: right;
    opacity: 0;
}

#prev {
    display: block;
    float: left;
    opacity: 0;
}

.page_header {
/*background-image: -webkit-linear-gradient(bottom, rgb(161,190,212) 19%, rgb(124,173,207) 60%, rgb(125,185,237) 78%);*/
    text-align: center;
    vertical-align: middle;
}

#storybook_menu {
    left: 0px;
    text-align: center;
    width: 100%;
    top: 85%;
    height: 20%;
    z-index: 111;
    position: absolute;
    opacity: 100;
}

#storybook_menu > .button {
    margin-left: 10px;
    margin-right: 10px;
    width: 25%;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
}

#story_menu {
    left: 0px;
    text-align: center;
    width: 100%;
    top: 75%;
    height: 20%;
    z-index: 111;
    position: absolute;
    opacity: 100;
}

#story_menu > .button {
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
}

/* PAGE MENU*/
#menu {
    left: 0px;
    text-align: center;
    width: 100%;
    top: 90%;
    height: 9%;
    padding-top: 1%;
    z-index: 111;
    position: absolute;
    opacity: 0;
    margin-left: 0px;
    margin-right: 0px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.34, rgb(40, 35, 46)), color-stop(0.96, rgb(252, 249, 252)));
    overflow: hidden;

}

#menu > a {
    margin-left: 20px;
    margin-right: 20px;

}

#story_board_link {
    display: inline-block;
    vertical-align: middle;
}

#play_link {

    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#main_menu_link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#play_link.play {
    background-image: url('../images/high/play.png');
}

#play_link.pause {
    background-image: url('../images/high/pause.png');
}

#auto_play_link {
    background-image: url('../images/high/autoplay.png');
}

#main_menu_area > div {
    left: 5%;
    top: 25%;
    width: 25%;
    height: 50%;
    vertical-align: middle;
    position: absolute;
}

#main_menu_area .button{
    margin-top: 25%;
    vertical-align: middle;
}


/*  END MENU*/

.hided {
    display: none;
}

#menu_area {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

#pages_area {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

#story_area {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

#main_menu_area {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../stories/main_menu_bg.jpg');
}

#options_area {
    display: none;
}

.story_menu {
}

.story_book {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98d6e9), color-stop(50%, #97d4e8), color-stop(100%, #c3e8f3));
    background: -webkit-linear-gradient(top, #98d6e9 0%, #97d4e8 50%, #c3e8f3 100%);
    background: linear-gradient(top, #98d6e9 0%, #97d4e8 50%, #c3e8f3 100%);
}

.story_book .page_header {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2989d8), color-stop(50%, #7db9e8), color-stop(100%, #2989d8));
    background: -webkit-linear-gradient(top, #2989d8 0%, #7db9e8 50%, #2989d8 100%);
    background: linear-gradient(top, #2989d8 0%, #7db9e8 50%, #2989d8 100%);

    color: white;
    font-style: italic;
    font-weight: bold;
}

.story_book h1 a {
    color: white;
    font-style: italic;
    font-weight: bold;
}

.info {
    color: white;
    font-style: italic;
    font-weight: bold;
}

#close_help_link {
    width: 25%;
    height: 25%;
    border: 1px solid red;
    left: 25%;
    top: 25%;
    position: absolute;
}

@font-face {
    font-family: 'AladinRegular';
    src: url('../aladin-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.button {
    font-family: 'AladinRegular';
    font-size: 46px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    min-width: 205px;
    height: 75px;
    border-radius: 10px;
    line-height: 75px;
    padding: 0 10px;
    -webkit-box-shadow: inset 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.small {
    min-width: 113px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    font-size: 30px;
    -webkit-box-shadow: inset 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 3px 3px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.red {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 119, 122, 1)), color-stop(50%, rgba(190, 60, 70, 1)), color-stop(100%, rgba(247, 119, 122, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(247, 119, 122, 1) 0%, rgba(190, 60, 70, 1) 50%, rgba(247, 119, 122, 1) 100%); /* Chrome10+,Safari5.1+ */
}

.purple {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 152, 250, 1)), color-stop(50%, rgba(219, 106, 204, 1)), color-stop(100%, rgba(252, 152, 250, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(252, 152, 250, 1) 0%, rgba(219, 106, 204, 1) 50%, rgba(252, 152, 250, 1) 100%); /* Chrome10+,Safari5.1+ */
}

.orange {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253, 116, 85, 1)), color-stop(50%, rgba(234, 81, 56, 1)), color-stop(100%, rgba(253, 116, 85, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(253, 116, 85, 1) 0%, rgba(234, 81, 56, 1) 50%, rgba(253, 116, 85, 1) 100%); /* Chrome10+,Safari5.1+ */
}

.blue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(18, 194, 244, 1)), color-stop(50%, rgba(1, 173, 240, 1)), color-stop(100%, rgba(18, 194, 244, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(18, 194, 244, 1) 0%, rgba(1, 173, 240, 1) 50%, rgba(18, 194, 244, 1) 100%); /* Chrome10+,Safari5.1+ */
}

.yellow {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 227, 81, 1)), color-stop(50%, rgba(255, 168, 0, 1)), color-stop(100%, rgba(255, 227, 81, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 227, 81, 1) 0%, rgba(255, 168, 0, 1) 50%, rgba(255, 227, 81, 1) 100%); /* Chrome10+,Safari5.1+ */
}

.green {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(89, 251, 68, 1)), color-stop(50%, rgba(3, 174, 2, 1)), color-stop(100%, rgba(89, 251, 68, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89, 251, 68, 1) 0%, rgba(3, 174, 2, 1) 50%, rgba(89, 251, 68, 1) 100%); /* Chrome10+,Safari5.1+ */
}

