/* NAV */


#next{
    margin: 10px;
    background-image:url('../images/low/next.png');
    width: 35px;
    height:35px;
}

#prev{
    margin: 10px;
    background-image:url('../images/low/back.png');
    width: 35px;
    height:35px;
}

/* END NAV*/

.page_header{
    height:10%;
    margin-bottom: 20px;
    vertical-align: middle;
    font-size: 150%;
}

/*  MENU*/

#menu > *{
  padding:0;
}

#play_link{
    width: 20px;
    height:20px;
}

/*  END MENU*/

.subs{
  bottom: 22%;
}

.subs span .txt{
    font-size:16pt;
}

/* STORY LIST */
.coverflow .hproducts {
    height: 120px;
    padding: 5px;
}

.hproducts .hproduct {
    width: 120px;
}

.coverflow .info {
    top: 180px;
    font-size: 100%;
    font-size:16pt;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .hproducts .hproduct {
        height: 250px;
    }
}
.hproducts .hproduct {
    margin: 5px;
}
.mod {
    margin-top:20px;
}
/* STORY LIST END*/

body.help{
  background: url('../images/middle/help.jpg') 0 0 no-repeat;
}

/* HELP END*/