body{
  margin:0;
}
* {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border:none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#menu_trigger{
  z-index:20;
  position:absolute;
  left:25%;
  top:25%;
  width: 50%;
  height:50%;
  background-color:red;
  opacity:0;
}

/* flip */
#book {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0px;
}

#pages section {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

#pages section>div {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

/* END flip*/

/*  Subs */

.subs {
    position: absolute;
    width: 70%;
    text-align:center; 
    margin: 0 15%;
    height: 50px;
    bottom: 5%;
    z-index: 111;
}

.subs span {
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
}

.subs span .txt {
  font-weight: bold;
  color: yellow;
}

/* END subs  */

/* NAV */

#nav {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 111;
  position: absolute;
  height: 10%;
}

#next {
  display: block;
  float: right;
  opacity: 0;
}

#prev {
  display: block;
  float: left;
  opacity: 0;
}

.page_header{
  background-image: -webkit-linear-gradient(bottom, rgb(161,190,212) 19%, rgb(124,173,207) 60%, rgb(125,185,237) 78%);
  text-align:center;
  vertical-align: middle;
}


#storybook_menu {
  left: 0px;
  text-align: center;
  width: 100%;
  top: 80%;
  height: 20%;
  z-index: 111;
  position: absolute;
  opacity: 100;
}

#storybook_menu > div{
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
  height: 50%;
  display: inline-block;
  vertical-align: middle; 
}

#story_menu {
  left: 0px;
  text-align: center;
  width: 100%;
  top: 75%;
  height: 20%;
  z-index: 111;
  position: absolute;
  opacity: 100;
}

#story_menu > div{
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
  height: 50%;
  display: inline-block;
  vertical-align: middle; 
}


#s_main_menu_link {
  background-image: url('../images/high/main_menu.png');
}

#s_options_link {
  background-image: url('../images/high/options.png');
}

#s_buy_link {
  background-image: url('../images/high/buy_book.png');
}



/* PAGE MENU*/
#menu {
  left: 0px;
  text-align: center;
  width: 100%;
  top: 90%;
  height: 9%;
  padding-top: 1%;
  z-index: 111;
  position: absolute;
  opacity: 0;
  margin-left: 0px;
  margin-right: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.34, rgb(40, 35, 46)), color-stop(0.96, rgb(252, 249, 252)));
  overflow: hidden;

}

#menu > div {
  margin-left: 20px;
  margin-right: 20px;
  
}

#story_board_link {

  width: 15%;
  height: 70%;
  display: inline-block;
  vertical-align: middle;
}

#play_link {

  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#main_menu_link {

  width: 15%;
  height: 70%;
  
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.main_menu_link{
  
}

.menu_link{
  
}

#main_menu_link {
  background-image: url('../images/high/main_menu.png');
}

#story_board_link {
  background-image: url('../images/high/story_menu.png');
}

#play_link.play {
  background-image: url('../images/high/play.png');
}

#play_link.pause {
    background-image: url('../images/high/pause.png');
}

#without_audio_link{
  background-image: url('../images/high/read_myself.png');
}

#with_audio_link{
    background-image: url('../images/high/read_to_me.png');
}
#m_story_board_link {
    background-image: url('../images/high/story_book.png');
}

#auto_play_link {
  background-image: url('../images/high/autoplay.png');
}

#main_menu_area > div{
  left: 5%;
  top: 25%;
  width: 25%;
  height: 50%;
  vertical-align: middle; 
  position:absolute;
}

#main_menu_area > div > div{
  margin-top:25%;
  width: 100%;
  height: 25%;
  vertical-align: middle; 
}

#storybook_link{
    background-image: url('../images/high/story_book.png');
}

#help_link{
   background-image: url('../images/high/help.png');
}

/*  END MENU*/

.hided {
  display: none;
}

#menu_area{
  display:none;
  width:100%;
  height:100%;
  position:absolute;
}

#pages_area{
  display:none;
  width:100%;
  height:100%;
    position:absolute;
}

#story_area{
  display:none; 
  width:100%;
  height:100%;
    position:absolute;
}
#main_menu_area{
    position:absolute;
    width:100%;
    height:100%;
    background-image: url('../stories/main_menu_bg.jpg');  
}
#options_area{
  display:none;
}

