body, h2, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
	background: url("book.png") no-repeat;
	position: absolute;
	width: 830px;
	height: 460px;
	left: 50%;
	top: 0;
	margin-left: -620px;
	margin-top: 0px;
}


#pages section {
	background: url("paper.png") no-repeat;
	display: block;
	width: 480px;
	height: 320px;
	position: absolute;
	left: 380px;
	top: 0px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 480px;
		height: 320px;
		font-size: 12px;
        background-repeat: no-repeat;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}
