#options_link{
    background-image:url('../images/iphone/back.png');
    width: 23px;
    height:23px;
    top: 700px;
    left:502px;
    display:block;
    z-index: 12;
    position: absolute;

}
/* NAV */
#next{
    width: 100px;
    height:100px;
}

#prev{
    width: 100px;
    height:100px;
}

#menu > *{
    margin-top: 6px;
}

#auto_play_link{
    width: 35px;
    height:35px;
}

/* END NAV*/
.subs span .txt{
    font-size:35px;
}