/* NAV */

#nav{
    top:0px;
    left:0px;
    width: 480px;
    display:none;
    z-index: 111;
    position: absolute;
}

#next{
    background-image:url('../images/iphone/next.png');
    width: 23px;
    height:23px;
    display:block;
    float:right;
    position: relative;
}

#prev{
    background-image:url('../images/iphone/back.png');
    width: 23px;
    height:23px;
    display:block;
    float:left;
}
/* END NAV*/


/*  MENU*/
/*
#auto_play_link{
    background-image:url('../images/iphone/play.png');
}

#main_menu_link{
    background-image:url('../images/iphone/main_menu.png');
}

#story_board_link{
    background-image:url('../images/iphone/story_menu.png');
}*/

/*  END MENU*/


#main{
    background-image:url('../images/ipad/1.jpg');
}


#page_1{
    background-image:url('../images/ipad/2.jpg');
}
#page_2{
    background-image:url('../images/ipad/3.jpg');
}
#page_3{
    background-image:url('../images/ipad/4.jpg');
}