/* NAV */


#next{
    width: 35px;
    height:35px;
}

#prev{
    width: 35px;
    height:35px;
}
/*

#next{
    background-image:url('../images/iphone/next.png');
    width: 23px;
    height:23px;
    display:block;
    float:right;
    position: relative;
}

#prev{
    background-image:url('../images/iphone/back.png');
    width: 23px;
    height:23px;
    display:block;
    float:left;
}*/
/* END NAV*/


/*  MENU*/

#auto_play_link{
    width: 25px;
    height:25px;
}

/*  END MENU*/


.subs span .txt{
    font-size:20px;
}