* {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#menu_trigger{
  z-index:20;
  position:absolute;
  left:25%;
  top:25%;
  width: 50%;
  height:50%;
  background-color:red;
  opacity:0;
}

/* flip */
#book {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0px;
}

#pages section {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

#pages section>div {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

/* END flip*/

/*  Subs */

.subs {
  position: absolute;
  width: 90%;
  text-align:center;
}

.subs span {
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
}

.subs span .txt {
  width:100%;
  text-align:center;
  font-weight: bold;
  position: absolute;
  color: yellow;
  z-index: 111;
}

/* END subs  */

/* NAV */

#nav {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 111;
  position: absolute;
  height: 10%;
}

#next {
  margin:5px;
  background-image: url('../images/next.png');
  display: block;
  float: right;
  opacity: 0;
}

#prev {
  margin:5px;
  background-image: url('../images/back.png');
  display: block;
  float: left;
  opacity: 0;
}

.page_header{
  height:5%;
  background-image: -webkit-linear-gradient(bottom, rgb(161,190,212) 19%, rgb(124,173,207) 60%, rgb(125,185,237) 78%);
  text-align:center;
  margin-bottom: 20px;
  vertical-align: middle;
  font-size: 200%;
}


#storybook_menu {
  left: 0px;
  text-align: center;
  width: 100%;
  top: 70%;
  height: 15%;
  z-index: 111;
  position: absolute;
  opacity: 100;
}

#storybook_menu > div{
  margin-left: 20px;
  margin-right: 20px;
  width: 20%;
  height: 40%;
  display: inline-block;
  vertical-align: middle; 
}

#s_main_menu_link {
  background-image: url('../images/main_menu.png');
}

#s_options_link {
  background-image: url('../images/main_menu.png');
}

#s_buy_link {
  background-image: url('../images/main_menu.png');
}



/* PAGE MENU*/
#menu {
  left: 0px;
  text-align: center;
  width: 100%;
  top: 93.1%;
  height: 7%;
  z-index: 111;
  position: absolute;
  opacity: 0;
  margin-left: 0px;
  margin-right: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.34, rgb(40, 35, 46)), color-stop(0.96, rgb(252, 249, 252)));
}

#menu > div {
  margin-left: 20px;
  margin-right: 20px;
  
}

#story_board_link {

  width: 15%;
  height: 75%;
  display: inline-block;
  vertical-align: middle;
}

#auto_play_link {

  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#main_menu_link {

  width: 15%;
  height: 75%;
  
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#main_menu_link {
  background-image: url('../images/main_menu.png');
}

#auto_play_link {
  background-image: url('../images/play.png');
}

#story_board_link {
  background-image: url('../images/story_menu.png');
}

/*  END MENU*/

.hided {
  display: none;
}

#menu_area{
  
}

#pages_area{
  display:none;
  width:100%;
  height:100%;
}

#book_area{
  /*display:none;*/
}

