#next{
    background-image:url('../images/iphone/next.png');
    width: 23px;
    height:23px;
    display:block;
    float:right;
    z-index: 111;
    position: absolute;
    left: 450px;
}

#prev{
    background-image:url('../images/iphone/back.png');
    width: 23px;
    height:23px;
    display:block;
    float:left;
    z-index: 111;
    position: absolute;
    
}

#main{
    background-image:url('../images/iphone/cover_Foreground.jpg');
}

#page_1{
  background-image:url('../images/iphone/1_foreground.jpg');
}